<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printable PKCS-7</title>
    <style>
        html {
            background-color: rgb(30,30,40);
            color: aliceblue;
        }
    </style>
</head>
<body>
    <h1>Create stamp for e-signed document.</h1>
    <h2>Only detached documents (signature file *.sig AND original signed document *.pdf allowed)</h2>
    <div>
        Select *.pdf File
        <input type="file" name="pdf_file" id="pdfFileInput"><br>
    </div>
    <div style=margin-top:1%>
        Select *.sig File
        <input type="file" name="sig_file" id="sigFileInput"><br>
    </div>
    <div>
        <button id="uploadButton" style="margin-top:1%">Upload Selected Files</button>
    </div>
    <script>
        function handleFileUpload() {
            const formData = new FormData();
            const sigFileInput = document.getElementById("sigFileInput");
            const pdfFileInput = document.getElementById("pdfFileInput");

            if (sigFileInput.files.length > 0 && pdfFileInput.files.length > 0) {
                const sigFileName = sigFileInput.files[0].name;
                const pdfFileName = pdfFileInput.files[0].name;

                const sigExtension = sigFileName.substring(sigFileName.lastIndexOf('.'));
                const pdfExtension = pdfFileName.substring(pdfFileName.lastIndexOf('.'));

                if ((sigExtension === '.sig') && pdfExtension === '.pdf') {
                    formData.append('sig_file', sigFileInput.files[0]);
                    formData.append('pdf_file', pdfFileInput.files[0]);
                } else {
                    alert('Please select a valid *.sig and *.pdf files');
                    return;
                }
            } else {
            alert('Please select files');
            return;
            }

            fetch("/upload", {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                alert("Files uploaded and processed successfully");
            })
            .catch(error => {
                console.error(error);
                alert("Error uploading files");
            });
        }
        const uploadButton = document.getElementById("uploadButton");
        uploadButton.addEventListener("click", () => {
            handleFileUpload();
        });
    </script>    
</body>
</html>
